src/main/java/AccuLadenError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://dylangomezvazquez/AccuLadenError"
        elementFormDefault="qualified">
    <element name="ApplicatieFout">
        <complexType>
            <sequence>
                <element name="errorCode" type="int" nillable="false" />
                <element name="message" type="string" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>
</schema>